# -----------------------------------------------------------------------------
# HIDDEN DIRECTORIES AND FILES : MacOS
# -----------------------------------------------------------------------------

__MACOSX/
.DS_Store

# -----------------------------------------------------------------------------
# HIDDEN DIRECTORIES AND FILES : Windows
# -----------------------------------------------------------------------------

$RECYCLE.BIN/
Desktop.ini
Thumbs.db

# -----------------------------------------------------------------------------
# EDITORS
# -----------------------------------------------------------------------------

.idea/
.vscode/

# -----------------------------------------------------------------------------
# PROJECT FILES
# -----------------------------------------------------------------------------

node_modules/
__pycache__/
*.egg-info/
